@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition-duration: 0.2s;
}

body {
  @apply font-sans bg-cool-grey-050 text-cool-grey-800;
}

h1 {
  @apply text-3xl font-semibold mb-6;
}

.bingo-cell:before {
  content: '';
  float: left;
  padding-top: 100%;
}
