@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans bg-cool-grey-100;
}

h1 {
  @apply text-3xl font-semibold mb-6;
}

.bingo-cell:before {
  content: '';
  float: left;
  padding-top: 100%;
}
